.vs/
.git/
/docs/deno
/docs/fonts
/docs/html
/docs/inc
/docs/javascript
/docs/math
/docs/os-win
/docs/shopping
/docs/spreadsheet
/docs/sw-git
/docs/web-components
/docs/web-technologies
/docs/webcat
/docs/wsh
/docs/stream-downloader
