/* counter.css  2021-08-24  usp */

body { counter-reset : listing-counter figure-counter table-counter example-counter }
figcaption.listing:before { counter-increment : listing-counter; content : "Listing " counter(listing-counter) ": " ; }
figcaption.figure:before { counter-increment : figure-counter; content : "Figure " counter(figure-counter) ": " ; }
figcaption.table:before { counter-increment : table-counter; content : "Table " counter(table-counter) ": " ; }
figcaption.example:before { counter-increment : example-counter; content : "Example " counter(example-counter) ": " ; }
table > caption.autonum:before { counter-increment : table-counter ; content : "Table " counter(listing-counter) ": " ; }

ol.instructions { list-style-type : none ; padding-left: 20px ; counter-reset : instruction-counter }
ol.instructions.continue { counter-reset : none }
ol.instructions li:before {  counter-increment : instruction-counter; content : counters(instruction-counter, ".") ". " ; }