/* pathbar-1.css  usp  2021-09-10 */

div#path-bar {
	position : relative ;
	margin-left : -40px ;
	margin-right : -20px ;
	padding-left : 10px ;
	padding-right : 10px ;
	line-height : 32px;
	white-space : nowrap ;
	border-bottom : 1px solid darkorange ;
	}

div#path-bar a {
	text-decoration : none ;
	}

div#path-bar a:hover {
	text-decoration : underline ;
	}
