/* navigation-panel-1.css  2021-08-19  usp */

#navigation-panel {
	display : block ;
	white-space : nowrap;
	overflow-x : scroll ;
	position : fixed ;
	left : -1px ;
	top : 0px ;
	bottom : 0px ;
	max-width : 0px ;
	background-color : white;
	border-right : 3px solid orange;
	transition : max-width 0.4s linear ;
	}

#navigation-panel>ul {
	display: inline-block;
	padding-right : 15px ;
	}

#navigation-panel a { 
	color: inherit;
	text-decoration: none;
	}

#navigation-panel a { 
	text-decoration: none;
	}

#navigation-panel a:hover { 
	text-decoration: underline;
	}

	/* not used */
body > .navigation.button {
	position : fixed ;
	}